@charset "utf-8";
/* CSS Document */

		#con_right{
			width:61%;
			height:640px;
			float:left;
			background:url("../img/con_right_bg.png") no-repeat center center;
			background-size:100% 100%;
			padding:10px 6% 0 3%;
			}
		#con_right .con_header{
			width:18px;		
			float:left;
			}
		#con_right h3{
			line-height:25px;
			float:left;
			padding:0 5px;
			font-size:24px;
			}
		#con_right .phone{
			float:right;
			line-height:35px;
			margin-right:-5%;
			font-size:13px;
			}
		#con_right .search_box{
			clear:both;
			margin-top:90px;
			height:500px;
			overflow-y:auto;
			}
		#con_right .search_box span{
			font-weight:bold;
			font-size:15px;
			padding-bottom:10px;
			}
		#con_right .search_box hr{
			margin:15px 0 8px;
			border:none;
			border-top:1px dashed #222;
			}
		#con_right .search_box h4{
			font-weight:bold;
			font-size:15px;
			border:none;
			}
		#con_right .search_box div{
			margin:20px 0 40px;
			}
		#con_right .search_box div img{
			float:right;
			width:40%;
			margin:0 30px 0 10px;
			}
		#con_right .search_box div p{
			font-size:14px;
			margin:8px 0;
			}
